<?xml version="1.0" encoding="UTF-8"?>
<!--
	This configuration file was written by the eclipse-cs plugin configuration editor
-->
<!--
Checkstyle-Configuration: Xebia Checkstyle
Description:

-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <property name="severity" value="warning"/>
    <module name="TreeWalker">
        <module name="MagicNumber">
            <property name="severity" value="info"/>
            <property name="ignoreNumbers" value="-1, 0, 1, 2, 3"/>
        </module>
        <module name="JavadocMethod">
            <property name="severity" value="error"/>
			<property name="allowMissingPropertyJavadoc" value="true" />
        </module>
        <module name="HiddenField">
            <property name="severity" value="info"/>
			<property name="ignoreSetter" value="true" />
        </module>
        <module name="MethodName">
            <property name="format" value="^([a-z][a-zA-Z0-9]*|test[a-zA-Z0-9_]*)$"/>
        </module>
		<module name="BooleanExpressionComplexity"/>
		<module name="CyclomaticComplexity"/>
        <module name="GenericIllegalRegexp">
            <property name="format" value="System\.(out|err)\.print(ln)?"/>
            <property name="ignoreComments" value="true"/>
            <property name="message" value="Use a logger or an explicit output stream instead of System.out or System.err."/>
        </module>
        <module name="JavadocType"/>
        <module name="JavadocStyle"/>
        <!--
        <module name="ConstantName"/>
        -->
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
		<module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        <module name="AvoidStarImport"/>
        <module name="IllegalImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>
        <module name="FileLength">
            <property name="max" value="1000"/>
        </module>
        <module name="LineLength">
            <property name="max" value="150"/>
        </module>
        <module name="MethodLength">
            <property name="max" value="50"/>
            <property name="countEmpty" value="false"/>
        </module>
        <module name="ParameterNumber"/>
        <module name="EmptyForIteratorPad"/>
        <module name="MethodParamPad"/>
        <module name="NoWhitespaceAfter">
            <property name="tokens" value="ARRAY_INIT, BNOT, DEC, DOT, INC, LNOT, UNARY_MINUS, UNARY_PLUS"/>
        </module>
        <module name="NoWhitespaceBefore"/>
        <module name="OperatorWrap"/>
        <module name="TypecastParenPad"/>
        <module name="ParenPad">
            <property name="tokens" value="CTOR_CALL, LPAREN, METHOD_CALL, SUPER_CTOR_CALL"/>
        </module>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround"> 
            <property name="tokens" value="ASSIGN, BAND, BAND_ASSIGN, BOR, BOR_ASSIGN, BSR, BSR_ASSIGN, BXOR, BXOR_ASSIGN, COLON, DIV, DIV_ASSIGN, EQUAL, GE, GT, LAND, LCURLY, LE, LITERAL_ASSERT, LITERAL_CATCH, LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY, LITERAL_FOR, LITERAL_IF, LITERAL_RETURN, LITERAL_SYNCHRONIZED, LITERAL_TRY, LITERAL_WHILE, LOR, LT, MINUS, MINUS_ASSIGN, MOD, MOD_ASSIGN, NOT_EQUAL, PLUS, PLUS_ASSIGN, QUESTION, RCURLY, SL, SLIST, SL_ASSIGN, SR, SR_ASSIGN, STAR, STAR_ASSIGN, TYPE_EXTENSION_AND, WILDCARD_TYPE"/> 
        </module> 
        <module name="ModifierOrder"/>
        <module name="RedundantModifier">
            <property name="severity" value="ignore"/>
        </module>
        <module name="AvoidNestedBlocks"/>
        <module name="EmptyBlock">
            <property name="option" value="text"/>
        </module>
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <module name="RightCurly"/>
        <module name="DoubleCheckedLocking"/>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
		<module name="IllegalInstantiation">
		    <property name="classes" value="java.lang.Boolean"/>
		</module>
		<module name="MissingSwitchDefault"/>
        <module name="RedundantThrows">
            <property name="severity" value="ignore"/>
        </module>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="DesignForExtension">
            <property name="severity" value="ignore"/>
        </module>
        <module name="FinalClass"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="InterfaceIsType"/>
        <module name="VisibilityModifier"/>
        <module name="ArrayTypeStyle"/>
        <module name="FinalParameters">
            <property name="severity" value="ignore"/>
        </module>
        <module name="UpperEll"/>
        <module name="Indentation">
            <property name="severity" value="ignore"/>
            <property name="caseIndent" value="0"/>
        </module>
    </module>
    <module name="PackageHtml"/>
    <module name="NewlineAtEndOfFile">
        <property name="lineSeparator" value="lf"/>
    </module>
    <module name="Translation"/>
</module>
