<?xml version="1.0" encoding="UTF-8"?>
<!--
    This configuration file was written by the eclipse-cs plugin configuration editor
-->
<!--
    Checkstyle-Configuration: Elmar
    Description: none
-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <property name="severity" value="error"/>
    <module name="TreeWalker">
        <property name="severity" value="warning"/>
        <module name="JavadocMethod">
            <property name="scope" value="public"/>
            <property name="allowMissingParamTags" value="true"/>
            <property name="allowMissingThrowsTags" value="true"/>
            <property name="allowMissingReturnTag" value="true"/>
            <property name="allowMissingPropertyJavadoc" value="true"/>
            <property name="logLoadErrors" value="true"/>
            <property name="suppressLoadErrors" value="true"/>
        </module>
        <module name="HiddenField">
            <property name="tokens" value="VARIABLE_DEF"/>
        </module>
        <module name="MethodName">
            <property name="format" value="^([a-z][a-zA-Z0-9]*|test[a-zA-Z0-9_]*)$"/>
        </module>
        <module name="BooleanExpressionComplexity"/>
        <module name="CyclomaticComplexity"/>
        <module name="GenericIllegalRegexp">
            <property name="format" value="System\.(out|err)\.print(ln)?"/>
            <property name="ignoreComments" value="true"/>
            <property name="message" value="Use a logger or an explicit output stream instead of System.out or System.err."/>
        </module>
        <module name="JavadocType">
            <property name="scope" value="public"/>
        </module>
        <module name="JavadocStyle">
            <property name="checkEmptyJavadoc" value="true"/>
            <property name="checkFirstSentence" value="false"/>
        </module>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        <module name="IllegalImport">
            <property name="illegalPkgs" value="com.sun, sun"/>
        </module>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>
        <module name="MethodLength">
            <property name="max" value="50"/>
            <property name="countEmpty" value="false"/>
        </module>
        <module name="ParameterNumber"/>
        <module name="ParenPad">
            <property name="tokens" value="CTOR_CALL, LPAREN, METHOD_CALL, SUPER_CTOR_CALL"/>
        </module>
        <module name="WhitespaceAfter"/>
        <module name="ModifierOrder"/>
        <module name="EmptyBlock">
            <property name="option" value="text"/>
        </module>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="IllegalInstantiation">
            <property name="classes" value="java.lang.Boolean, java.lang.Integer, java.lang.Long, java.lang.StringBuffer"/>
        </module>
        <module name="MissingSwitchDefault"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="InterfaceIsType"/>
        <module name="VisibilityModifier">
            <property name="packageAllowed" value="true"/>
            <property name="protectedAllowed" value="true"/>
        </module>
        <module name="LineLength">
            <property name="max" value="120"/>
        </module>
    </module>
    <module name="PackageHtml">
        <property name="severity" value="warning"/>
    </module>
    <module name="Translation">
        <property name="severity" value="warning"/>
    </module>
</module>
